body { font-family: Arial, sans-serif; }

.container{
  display: flex;
  align-items: center;
  height: 980px;
}

.weather-output{
  width: 15%;
  margin-right: 10%;
  opacity: 0.8;
}

.selector{
  width: 50%;
  margin-left: 10%;
}

.clouds-day{
    background-image: url("../images/clouds-day.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;

}

.clouds-night{
  background-image: url("../images/clouds-night.png");
  background-repeat: no-repeat; 
  background-size: cover; 
  position: relative;
  color: white;
}

.rain-day{
    background-image: url("../images/rain-day.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
}

.rain-night{
  background-image: url("../images/rain-night.png");
  background-repeat: no-repeat; 
  background-size: cover; 
  position: relative;
  color: white;
}

.clear-day{
    background-image: url("../images/clear-day.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
}

.clear-night{
  background-image: url("../images/clear-night.png");
  background-repeat: no-repeat; 
  background-size: cover; 
  position: relative;
  color: white;
}

.snow-day{
    background-image: url("../images/snow-day.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
}

.snow-night{
  background-image: url("../images/snow-night.png");
  background-repeat: no-repeat; 
  background-size: cover; 
  position: relative;
  color: white;
}

.thunder{
    background-image: url("../images/thunder.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
}

.drizzly-day{
    background-image: url("../images/drizzly-day.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
}

.drizzly-night{
  background-image: url("../images/drizzly-night.png");
  background-repeat: no-repeat; 
  background-size: cover; 
  position: relative;
  color: white;
}

.foggy-day{
    background-image: url("../images/foggy-day.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
}

.foggy-night{
  background-image: url("../images/foggy-night.png");
  background-repeat: no-repeat; 
  background-size: cover; 
  position: relative;
  color: white;
}

@media (max-width: 767px) { 

.container {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    text-align: center;
  }

  .selector{
    width:100%;
    margin-right: 15%;
    margin-top: 15%;
  }

  .weather-output{
    margin-top: 30%;
    width: 100%;
    opacity: 0.8;
    margin-left: 5%;
  }
  
}